* {
    padding: 0px;
    margin: 0px;
}
h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font: bold 20px sans-serof;
}

nav, footer, aside {
    border: 1px solid black;
    color: rgb(128, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
}

article {
    border: black 1px solid;
}
body {
    background-color:rgb(196, 191, 207);
    text-align: center;
}
.division {
    margin: auto;
}