h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font: bold 20px sans-serof;
}

nav, footer, aside {
    border: 1px solid black;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
}

article {
    width: 500px;
    margin: auto;
    border: black 1px solid;
}
body {
    background-color: aqua;
    text-align: right;
}
